body {
    background-color: white;
  }
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  }
.gameTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color:#808080;
  width: 200px;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  
}
.playerX {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ec1313;
  padding: 10px 10px 10px 50px;
  font-size: 20px;
}
.playerO {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1713ec;
  padding: 10px 10px 10px 50px;
  font-size: 20px;
}
  .gridBoard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*grid-auto-rows: 210px;*/
    background-color:white;
    padding: 5px 5px 50px 50px;
  }

  .one {
    background-color:#c9c9c9;
  }
  .two {
    background-color:#c9c9c9;
  }
  .three {
    background-color:#c9c9c9;
  }
  .four {
    background-color: #c9c9c9 ;
  }
  .five {
    background-color:#c9c9c9;
  }
  .six {
    background-color:#c9c9c9 ;
  }
  .seven {
    background-color:#c9c9c9;
  }
  .eight {
    background-color:#c9c9c9 ;
  }
  .nine {
    background-color:#c9c9c9;
  }

