body {
    background-color: white;
  }
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  }
.gameTitle {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color:#808080;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
}
.directions {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 300px;
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    background-color:#c9c9c9;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 15px 15px 15px 15px;
}
.playerX {
  position: absolute;
  top: 20%;
  left: 18%;
  height: 40px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #ec1313;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  
}
.playerO {
  position: absolute;
  top: 20%;
  left: 70%;
  height: 40px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #1713ec;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}
.resetButton {
    position: absolute;
    top: 90%;
    left: 45%;
    height: 40px;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #9c13ec;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.resetButton:hover {
    cursor:auto;
    transform: translateX(+2px);
}

.gridBoard {
  position: absolute;
  top: 30%;
  left: 20%;
  display: grid;
  min-width: 600px;
  min-height: 600px;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color:white;
  padding: 5px 5px 10px 5px;
  }

.square {
    background-color:#c9c9c9; 
}

/*
  #0 {
    background-color:#c9c9c9;
  }
  #1 {
    background-color:#c9c9c9;
  }
  .three {
    background-color:#c9c9c9;
  }
  .four {
    background-color: #c9c9c9 ;
  }
  .five {
    background-color:#c9c9c9;
  }
  .six {
    background-color:#c9c9c9 ;
  }
  .seven {
    background-color:#c9c9c9;
  }
  .eight {
    background-color:#c9c9c9 ;
  }
  .nine {
    background-color:#c9c9c9;
  }

